$spacing-extraLarge: 32px;
$spacing-large: 24px;
$spacing-medium: 16px;
$spacing-small: 8px;
$spacing-extraSmall: 4px;

.ds-h1-heading {
    font-size: 30px;
    line-height: 39px;
}

.ds-h2-heading {
    font-size: 24px;
    line-height: 32px;
}

.ds-paragraph-text {
    font-size: 16px;
    line-height: 1.4;
}

.btn-base {
    border-radius: 4px;
    cursor: pointer;
    flex-shrink: 0;
    font-size: 0.88rem;
    font-weight: 500;
    height: 40px;
    line-height: 38px;
    min-width: 200px;
    outline: none;
    overflow: hidden;
    padding: 0 $spacing-extraLarge;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s ease 0s;
    user-select: none;
    white-space: nowrap;
}

.btn-primary {
    color: #fff;
    background-color: #000;

    :hover {
        color: #000;
        border: 1px solid #000;
        background-color: #fff;
    }
}

.btn-secondary {
    color: #666;
    background-color: white;
    border: 1px solid #eaeaea;

    :hover {
        color: #fff;
        border: 1px solid #000;
        background-color: #000;
    }
}
