$spacing-extraLarge: 32px;
$spacing-large: 24px;
$spacing-medium: 16px;
$spacing-small: 8px;
$spacing-extraSmall: 4px;

.ds-h1-heading {
    font-size: 30px;
    line-height: 39px;
}

.ds-h2-heading {
    font-size: 24px;
    line-height: 32px;
}

.ds-paragraph-text {
    font-size: 16px;
    line-height: 1.4;
}
